*{
	margin:0px auto;
	padding:0px;
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,span{
	font-family: 'EB Garamond', serif;
}


/*Pagina principal*/

.fondo{
	background-image: url('../images/wallpaper.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 100vh;
}


div .titulos{
	width: 100%;
	padding-top: 20%;
	padding-left: 15%;
	color: white;
}

h1 {
	font-size: 5.5em;
}

div .titulos p{
	font-size: 2em;
}

.fondo .logo{
	float:left;
	width: 50px;
	height: 50px;
	margin-top: 25px;
	margin-left: 25px;
	margin-right: 7px;
}

.fondo .logo img{
	width: 100%;
	height: 100%;
}

.fondo #menuPalabra{
	float: right;
	margin-right: 45px;
	margin-top:35px;
	color:white;
	width: 10px;
	height: 30px;
	text-align: center;
	transform: rotateZ(90deg);
	cursor: pointer;

}

/*Pagina principal menu*/

.menu{
	background-color: #222;
	background-size: 100%;
	width: 100%;
	height: 100vh;
	position: absolute;
	top:0px;
	top:0px;
	display:none;
}

.cajas{
	width: 43%;
	float: left;
	border: 0.5px dotted #444;
	padding: 80px 30px;
	margin-top: 7px;
}

.cajas .lista li{
	padding: 9px 7px;
	list-style: none;
	
}

.cajas .lista a{
	font-family: 'EB Garamond', serif;
	color:grey;
	font-size: 50px;
	text-decoration:none;

}

.cajas .lista a:hover{
	color:white;
}

.cajas .parrafos{
	padding-top: 69px;
	padding-bottom: 70px;
}

.cajas .parrafos h4{
	font-size: 0.7em;
	font-style: none;
	color: grey;
	padding-top: 15px;
}

.cajas .parrafos p{
	font-size: 28px;
	color: grey;
	padding-bottom: 15px;
	padding-right: 30px;
}

.menuPalabra #close{
	float: right;
	right: 45px;
	top:35px;
	color:white;
	width: 10px;
	height: 30px;
	text-align: center;
	transform: rotateZ(90deg);
	cursor: pointer;
	position: absolute;
}
