*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



.caja{
    background-color: white;
    text-align: center;
    margin:0 auto;
    margin-top:50px;
    margin-bottom: 20px;
    border: 1px dashed black;
    padding: 5px;
}

p{
    margin: 5px;
}

input[type='text']{
    height: 40px;
    width: 200px;
}