*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.wrapper{
    margin:0 auto;
    margin-top:10px;
    width: 600px;
    background-color: aqua;
    border: 5px solid green;
    padding:15px;
}

.caja{
    text-align: center;
    margin:0 auto;
    margin-top:50px;
    margin-bottom: 20px;
    border: 1px dashed black;
    padding: 5px;
}

p{
    margin: 5px;
}

input[type='text']{
    height: 40px;
    width: 300px;
}